header {
  background: rgb(255,255,255);
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  z-index: 9999;
  top: 0;
}

.icon {
	width: 25px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
  cursor: pointer;
	-webkit-transition: all 0.8s ease;
}

#menuIcon {
  width: 30px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.8s ease;
  }

  .bars,
  .bars:before,
  .bars:after {
  	height: 2px;
  	width: 100%;
  	background: rgb(0,0,0);
  	border-radius: 20px;
  }

  .bars:before,
  .bars:after {
  	content: '';
  	position: absolute;
  }

  .bars:before {
  	top: 0;
  }

  .bars:after {
  	bottom: 0;
  }



menu {
  height: 100vh;
  width: 100%;
  background: rgba(255,255,255,.97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}

ul {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 120px;
  padding: 0;
  list-style-type: none;
}

ul li:nth-child(2) {
  margin: 0 20px;
}

.contactCont {
  width: 100%;
  height: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
  display: flex;
  position: absolute;
  bottom: 40px;
}

.social {
  width: 100%;
  min-width: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
  margin-top: 25px;
}

.smBlock {
  width: 325px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

a span.platform {
  visibility: hidden;
  top: 0px;
  transition: 1s;
  opacity: 0;
  white-space: nowrap;
}

a:hover span.platform {
  visibility: visible;
  top: -20px;
  transition: 1s;
  opacity: 1;
}

.platform {
  width: auto;
  position: absolute;
	text-align: center;
  font-size: 18px;
  top: -26px;
  display: flex;
  flex-direction: column-reverse;
}

.icon {
	width: 40px;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  cursor: pointer;
	-webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
	position: relative;
	bottom: 0;
}

.icon img {
  -webkit-filter: drop-shadow(0px 0px 1px rgb(253,182,150));
  filter: drop-shadow(0px 0px 1px rgb(253,182,150));
	width: 25px;
	min-height: 25px;
  opacity: .6;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;

}

.icon:hover img {
  opacity: 1;
}

@media only screen and (min-width: 0) and (max-width: 760px),
only screen and (min-device-width: 0) and (max-device-width: 760px) {
  ul {
    width: 230px;
  }
}
