<header>
  <div class="title">
    <h1><a [routerLink]="['/']">{{title}}</a></h1>
  </div>
  <div id="menuIcon">
    <div class="bars"></div>
  </div>
</header>

<menu>
  <ul>
    <li *ngFor="let page of linkingPgs">
      <h3><a [routerLink]="(page.link)">{{page.pgTitle}}</a></h3>
    </li>
  </ul>
    <footer>
      <div class="contactCont" *ngFor="let contact of contactMe">
        <h2>{{contact.title}}</h2>
        <p>{{contact.email}}</p>
        <p>{{contact.phone}}</p>
    <div class="social">
      <div class="smBlock">
        <a class="icon" *ngFor="let social of socialmedia" target="_blank" href={{social.site}}>
          <img [src]="social.icon" />
          <span class="platform">{{social.platform}}</span>
        </a>
      </div>
    </div>
  </div>
</footer>
</menu>
