header {
  background: rgb(255,255,255);
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: absolute;
  z-index: 9999;
  top: 0;
}

.icon {
	width: 25px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
  cursor: pointer;
	-webkit-transition: all 0.8s ease;
}

#menuIcon {
  width: 30px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.8s ease;
  }

  .bars,
  .bars:before,
  .bars:after {
  	height: 2px;
  	width: 100%;
  	background: rgb(0,0,0);
  	border-radius: 20px;
  }

  .bars:before,
  .bars:after {
  	content: '';
  	position: absolute;
  }

  .bars:before {
  	top: 0;
  }

  .bars:after {
  	bottom: 0;
  }



menu {
  height: 100vh;
  width: 100%;
  background: rgba(255,255,255,.97);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 99;
}

ul {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 120px;
  padding: 0;
  list-style-type: none;
}

ul li:nth-child(2) {
  margin: 0 20px;
}

.contactCont {
  width: 100%;
  height: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 60px;
  position: absolute;
	bottom: 0;
}

footer {
  display: flex;
}

.social {
  width: 100%;
  min-width: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.platform {
  width: 100%;
	position: relative;
	top: 10px;
	text-align: center;
}

.icon {
	position: absolute;
	bottom: 0;
}

.icon img {
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 0) and (max-width: 760px),
only screen and (min-device-width: 0) and (max-device-width: 760px) {
  ul {
    width: 230px;
  }
}
