.mainBlock {
  width: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutHero {
  width: 100%;
  height: 450px;
  background: url('/assets/img/MetalManSide.png') right top no-repeat;
  background-size: cover;
}

.centeredStatement {
  display: flex;
  flex-direction: column;
  align-self: center;
}

img.profile {
  height: 400px;
  box-shadow: 5px 5px 10px -1px rgba(0,0,0,.4);
  margin-left: 40px;
}

img.CIimg {
  max-width: 200px;
  height: auto;
}

.flexRow {
  max-width: calc(1000px - 80px);
  width: calc(100% - 80px);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 40px 40px 0 40px;
}

.flexRow div p {
  margin-bottom: 15px;
}

.flexRow div h5 {
  margin: 0 !important;
  margin-bottom: 8px;
}

.borderSpacing {
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding-bottom: 40px;
}

.heroSpacing {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.basicFlexRow {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.basicFlexColumn ul li {
  margin-bottom: 15px;
}

.basicFlexColumn {
  margin-bottom: 20px;
}

.eventTitle {
  font-size: 22px;
}

.expGrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
}

.skillsLayout {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.recLayout {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

@media screen and (max-width: 527px) {
  .aboutHero {
    background: url(/assets/img/MetalManSide.png) right -80px top no-repeat;
    background-size: cover;
  }

  .basicFlexRow {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 960px) {
  .recLayout {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 750px) {
  .flexRow {
    width: 100%;
    flex-flow: column wrap;
    padding: 0;
    padding-top: 40px;
  }

  .flexRow.mobile {
    flex-flow: column-reverse wrap !important;
    align-items: center;
  }

  img.profile {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .skillsLayout {
    flex-direction: column;
    justify-content: flex-start;
  }

  .skillsLayout div {
    margin-bottom: 20px;
  }
}
