
.columnFlex {
  display: grid;
  grid-template-columns: auto 260px;
  grid-column-gap: 20px;
  padding: 0 40px;

}

img {
  width: 100%;
  min-width: 400px;
  max-width: 1200px;
  margin-bottom: 10px;
}

button {
  font-size: 14px;
  max-width: 275px;
}

.modelInfo {
  display: grid;
  grid-template-columns: 260px auto;
  grid-row-gap: 10px;
  -webkit-transition: height 2s; /* Safari */
  transition: height 2s;
}

.modelInfo.inner {
  grid-template-columns: 80px auto;
}

.modelInfo p {
  font-size: 16px;
}

.modelInfo p:nth-child(odd) {
  color: rgba(0,0,0,.7);
}

.modelImagery {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.return {
  display: flex;
  align-items: center;
  width: 100px;
}

.arrow {
	width: 0;
	height: 0;
  margin-right: 10px;
	border-top: 5px solid transparent;
	border-right: 6px solid rgba(0,0,0,.8);
	border-bottom: 5px solid transparent;
}

.viewDetailsBtn,
.mobileBtn,
.hiding {
  display: none;
  visibility: collapse;
}

@media screen and (max-width: 840px) {

  .columnFlex {
    padding: 0;
  }

}

@media screen and (max-width: 755px) {

  .wideScreen,
  .desktopBtn {
    display: none;
    visibility: collapse;
  }

  .viewDetailsBtn {
    display: block;
    visibility: visible;
    cursor: pointer;
  }

  .columnFlex,
  .modelInfo {
		grid-template-columns: auto ;
  }

  .modelInfo.inner:first-child {
    padding-top: 20px;
  }

  .mobileBtn,
  .hiding {
    display: block;
    visibility: visible;
  }

  .mobileBtn {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
}

/* @media screen and (max-width: 750px) {
  .columnFlex {
		grid-template-columns: auto ;
    grid-column-gap: 0px;
    margin-bottom: 100px;
	}

  .modelName {
    grid-column: auto;
  }

  .modelInfo{
    height: auto;
  }
} */
