<app-header></app-header>
<h1>Work</h1>

<div class="grid">

</div>




<!-- <div *ngFor="let demo of modelwork">
<iframe [src=]"demo.link | keepHtml: 'url'"
    frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

  <iframe src="https://sketchfab.com/models/781c60d3449b46f996a081ae36c20cce/embed"
    frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

  <iframe src="https://sketchfab.com/models/b15546f34ac644d4beca827632f32bb1/embed"
    frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
</div> -->
