.workContainer {
  padding-top: 20vh;
  padding-bottom: 100px;
}

.workContainer h1 {
  font-size: 54px;
  text-align: center;
  margin-bottom: 60px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0 40px;
}

.grid-item {
  height: 300px;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.grid-item img {
  width: 25px;
  position: absolute;
  top: 15px;
  left: 15px;
  opacity: .65;
}

.tag {
  width: 100%;
  background: rgba(0,0,0,.3);
  color: rgb(255,255,255);
  position: absolute;
  bottom: -84px;
  width: 100%;
  transition: ease 1s all;
}

a.grid-item:hover .tag {
  transition: ease 1s all;
  bottom: 0;
}


@media screen and (max-width: 750px) {
  .grid {
		grid-template-columns: auto;
	}
}

@media screen and (min-width: 1450px) {

	.grid {
		grid-template-columns: auto auto auto auto;
	}

}
