@font-face {
	font-family: "light";
	src: url('assets/fonts/OpenSans-CondLight.woff');
}

@font-face {
	font-family: "title";
	src: url('assets/fonts/halfmoon_regular.ttf');
}

h1 {
	font-family: inherit;
	font-size: 28px;
	font-weight: lighter;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h2 {
	font-family: "title";
	font-size: 22px;
	text-transform: uppercase;
}

h3 {
	font-family: inherit;
	font-size: 28px;
  font-weight: lighter;
	letter-spacing: 1px;
	line-height: 1.6;
}

h4 {
	font-family: "title";
	font-size: 12px;
}

h5 {
	font-family: inherit;
	font-size: 22px;
	text-transform: uppercase;
	letter-spacing: 1px;
  margin: 25px 0 0px;
}

p {
	font-family: inherit;
	font-size: 20px;
	margin: 0;
	line-height: 1.6;
	letter-spacing: 0.5px;
}

a {
	color: rgb(0,0,0);
	text-decoration: none;
}

a:hover {
	color: rgb(33,150,243);
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	background: rgb(255,255,255);
	margin: 0;
	font-family: "light", sans-serif;
}

.position {
  overflow: hidden;
}

.rotate {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
}

.mainBlock {
	margin: 0 40px 100px;
	padding-top: 120px;
}

.mainBlock h1 {
	font-size: 54px;
}

.titleBar {
	width: 250px;
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	justify-content: space-between;
}

.basicFlexRow {
	display: flex;
	flex-direction: row;
}

.basicFlexColumn {
	display: flex;
	flex-direction: column;
}

button {
	border-radius: 1px;
	position: relative;
	height: 55px;
	width: auto;
	padding: 0 30px;
	border: none;
	cursor: pointer;
	outline: unset;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 2px;
}

button:before,
button:after {
  content: '';
	width: 25%;
  height: 50%;
  position: absolute;
}

button:before {
  left: 0;
  bottom: 0;
  border-bottom: 1px solid black;
	border-left: 1px solid black;
}

button:after {
  top: 0;
  right: 0;
  border-top: 1px solid black;
	border-right: 1px solid black;
}

button:hover:before {
  left: 0;
  top: 0;
	bottom: unset;
	border-top: 1px solid black;
  border-bottom: 0px solid black !important;
	border-left: 1px solid black;
}

button:hover:after {
	top: unset;
	bottom: 0;
  right: 0;
	border-bottom: 1px solid black;
  border-top: 0px solid black !important;
	border-right: 1px solid black;
}

button a,
button a:hover,
button a:active {
	color: rgb(0,0,0);
}
