<app-header></app-header>
<div class="scifi">
	<div class="titleText">
		<div>KYLE BYRON</div>
		<div>3D Modeler</div>
		<!-- <a href="#baseContent" (click)="slideToggle" class="leanArrow"></a> -->
	</div>
	<div id="scifiContainer">
		<video preload="auto" autoplay loop mute id="video">
      <source src="assets/video/scifi.mp4" type="video/mp4">
    </video>
</div>
</div>

<div id="indexLayout">
<!--
	<div id="animatedMenu">
		<ul>
			<li>00<span>Home</span></li>
			<li>01<span>Models</span></li>
			<li>02<span>About</span></li>
			<li>03<span>Community</span></li>
		</ul>
	</div> -->

<div class="sections">
<section class="viewPort" id="baseContent">
	<div class="triggerMe"></div>
	<h2 class="intro">Visualizing worlds in three dimentions</h2>
  <h3 class="quote">For as long as I can remember I have always been artistic and constructive. Through art and building with Legos I learned much about the way things look and work. With my imagination I am able to visualize a scene from multiple angles and create something new and exciting. Working with 3D is the perfect blend of bringing my two passions together and I wouldn't want to do anything less.</h3>
<div class="imageRow">
	<div><div id="a" class="alley"></div><h2>Environments</h2></div>
	<div><div id="b" class="alley"></div><h2>Characters</h2></div>
	<div><div id="c" class="alley"></div><h2>Props</h2></div>
</div>

	<button [routerLink]="['work']">MORE</button>
</section>

<section class="viewPort">
	<div class="triggerMe"></div>
	<div class="rightAligned">
	<img class="twitchImg" src="assets/img/peterchy.png" />
	<div class="indexText">
	<h2 class="intro">Who I Am</h2>
	<h3 class="quote">As a 3D artist I am looking to partner with the right company to bring my creative imagination to audiences all over the world using such tools as Autodesk Maya, Substance Painter, and Marmoset Toolbag.</h3>
  <button [routerLink]="['about']">MORE</button>
</div>
</div>
</section>

<section class="viewPort">
	<div class="triggerMe"></div>
	<div class="indexArrange">
	<img class="twitchImg mobile" src="assets/img/twitch.png" />
	<div class="indexText">
	<h2 class="intro">Community Engagement</h2>
  <h3 class="quote">As an active competitor in the Twitch community my finger is on the pulse of gaming. Connecting with other gamers through speed runs for charity, game play streaming, and social chatting has given me a great opportunity to engage in the community I want to design for.</h3>
  <button><a target="_blank" href="https://www.twitch.tv/megakyle83">MORE</a></button>
</div></div>
</section>
</div>
</div>
