<app-header></app-header>
<section>
	<h2>Who I Am</h2>
	<h3>I'm Kyle! A 3D modeler with a passion for making beautiful environments, redesigning classic characters, and mastering all things 3D. As a graduate from Full Sail University I am looking to partner with the right company to bring the creative imagination to life using tools like Autodesk Maya, Pixologic ZBrush, Allegorithmic Substance Designer/Painter, Unity3D, Epic's Unreal Engine 4, Marmoset, and Adobe Photoshop to just name a few. I want to bring new adventures to audiences all over the world. Lets make it happen!</h3>
  <button (click)="aboutPage()">LEARN MORE</button>
</section>

<section>
	<h2>Visualizing worlds in 3 dimentions</h2>
  <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</h3>
  <button (click)="aboutPage()">LEARN MORE</button>
</section>

<section>
	<h2>Reimagining Classics</h2>
  <h3>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</h3>
  <button (click)="aboutPage()">LEARN MORE</button>
</section>

<section>
	<h2>Community Engagement</h2>
  <h3>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis, adipiscing varius, adipiscing in, lacinia vel, tellus. Suspendisse ac urna. Etiam pellentesque mauris ut lectus. Nunc tellus ante, mattis eget, gravida vitae, ultricies ac, leo. Integer leo pede, ornare a, lacinia eu, vulputate vel, nisl.</h3>
  <button (click)="aboutPage()">LEARN MORE</button>
</section>
